@using JC.Communication.Notifications.Helpers
@using JC.Communication.Notifications.Services
@using JC.Core.Extensions
@using JC.Identity.Authentication
@using Microsoft.AspNetCore.Identity
@using UltimateMonopoly.Data
@using UltimateMonopoly.Services
@using Microsoft.Extensions.Hosting
@inject SignInManager<AppUser> SignInManager
@inject NotificationCache NotificationCache
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env

<nav class="navbar navbar-expand-lg navbar-glass mb-4">
    <div class="container-lg">
        <partial name="_Branding"/>

        <button class="navbar-toggler nav-toggler-morph collapsed" type="button"
                data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="burger" aria-hidden="true"><span></span><span></span><span></span></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            @* TODO: replace href="#" once these pages exist *@
            <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0 gap-lg-1">
                <li class="nav-item dropdown">
                    <button class="btn btn-nav dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Games</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Games/Index">New Game</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Games/Join">Join Game</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Games/MyGames">My Games</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Games/Joined">Joined Games</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <button class="btn btn-nav dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Friends</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-area="Social" asp-page="/Friends/Index" asp-route-tab="friends">All Friends</a></li>
                        <li><a class="dropdown-item" href="#">Messages</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" asp-area="Social" asp-page="/Friends/Index" asp-route-tab="add">Add Friend</a></li>
                        <li><a class="dropdown-item" asp-area="Social" asp-page="/Friends/Index" asp-route-tab="requests">Friend Requests</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" asp-area="Identity" asp-page="/Profile/Index" asp-route-tab="blocked">Blocked Users</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="btn btn-nav" asp-area="" asp-page="/Rules">Rules</a></li>
                <li class="nav-item"><a class="btn btn-nav" asp-area="" asp-page="/Leaderboard/Index">Leaderboard</a></li>
                <li class="nav-item"><a class="btn btn-nav" asp-area="" asp-page="/Boards/Index">My Boards</a></li>
            </ul>

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="d-flex align-items-center gap-2 ms-auto justify-content-end">
                    <partial name="_NotificationBell" />

                    <partial name="~/Pages/Shared/_ProfileDropdown.cshtml" />
                </div>

            }
            else
            {
                <div class="d-flex flex-column flex-lg-row gap-2">
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-nav-info">Login</a>
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-hero-primary">Register</a>
                </div>
            }
        </div>
    </div>
</nav>
