@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container" style="max-width: 640px;">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Forgot Password</h2>
            <p class="text-body-secondary text-center mb-3">Enter your email to receive a password reset link.</p>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Send reset link</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
